<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhishek.android.habitnme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoalDetailView"
            android:label="@string/title_activity_goal_detail_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddHabitActivity" />

        <provider
            android:name=".HabitDataProvider"
            android:authorities="com.abhishek.android.habitnme.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="LentItemsProvider"
            android:syncable="true" />

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity android:name=".ChooseCategoryActivity" />
        <activity android:name=".TypeSelectionActivity" />
        <activity android:name=".AddYNHabitActivity" />
        <activity android:name=".AddNumberActivity" />
        <activity android:name=".ProgressActivity" />

        <receiver android:name=".HabitAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/habit_app_widget_info" />
        </receiver>

        <service
            android:name=".WidgetRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".ProfileActivity"></activity>
    </application>

</manifest>